<a href="https://colab.research.google.com/github/jastineedg/PLM-Elective-3-Lab/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TEST CODE FOR PYTHON

I made this to test my knowledge on Python.

In [ ]:
user_input = int(input("Hello! How many times do you want to print x in a triangular form? "))
for i in range (1, user_input + 2):
    for j in range (1, i): #prints x in i times
        print ("x", end = "")
    print()

Hello! How many times do you want to print x in a triangular form? 20

x
xx
xxx
xxxx
xxxxx
xxxxxx
xxxxxxx
xxxxxxxx
xxxxxxxxx
xxxxxxxxxx
xxxxxxxxxxx
xxxxxxxxxxxx
xxxxxxxxxxxxx
xxxxxxxxxxxxxx
xxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxx

For Loop: Example 1

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

For Loop: Example 2

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)
  if x == "Thursday":
    break # will terminate the entire for loop execution, not the if statement alone

Sunday
Monday
Tuesday
Wednesday
Thursday

For Loop: Example 3

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break # will terminate the entire for loop execution, not the if statement alone
  print (x)

Sunday
Monday
Tuesday
Wednesday

For Loop: Example 4

In [ ]:
for x in "week":
  print (x)

w
e
e
k

Application Number 3: Thursday only

In [ ]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break # will terminate the entire for loop execution, not the if statement alone
print (x) # will only print the last x value, which is Thursday since it has been terminated already after Thursday

Thursday

The range() Function: Example 1

In [ ]:
for x in range(6): #exclusive of 6
  print(x)
for x in range(2,6): #inclusive of 2, exclusive of 6
  print(x)
for x in range(2,6,2): #inclusive of 2, exclusive of 6, interval of 2
  print(x)

0
1
2
3
4
5
2
3
4
5
2
4

Nested Loops: Example 1

In [ ]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective: #starts with the first value
  for y in fruits: #goes through each value before returning to the outer for loop
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Python While Loops: Example 1

In [ ]:
i = 1
while i<6:
  print (i)
  i += 1

1
2
3
4
5

Python While Loops: Example 2

In [ ]:
i = 1
while i<6:
  print (i)
  if i == 3:
    break
  i += 1

1
2
3

Python While Loops: Example 3

In [ ]:
i = 0
while i<6:
  i += 1
  if i == 3:
    continue #means continue to the next number, thus, skipped
  print (i)

1
2
4
5
6

Python While Loops: Example 4

In [ ]:
i = 1
while i<6:
  print (i)
  i += 1
else: #like an if-else statement, having while as the if
  print ("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 4: Create a Python program that displays:​

		Hello 0​

		Hello 1​

		Hello 2

		Hello 3
    
		Hello 4​

		Hello 5​

		Hello 6​

		Hello 7​

		Hello 8​

		Hello 9​

		Hello 10​

In [ ]:
i = 0
while i <= 10: #will execute the condition when i is less than or equal to 10
  print("Hello", i) #will print the string "Hello", followed by the index as part of the output
  i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 5: Create a Python program that displays integers less than 10 but not less than 3

In [ ]:
i = 1
while i < 10:
  i += 1
  if i < 3:
    continue
  if i >= 10:
    break
  print (i)

3
4
5
6
7
8
9