<a href="https://colab.research.google.com/github/jastineedg/PLM-Elective-3-Lab/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [12]:
x=5
y=2
if x>y:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [13]:
print("Hello World.") #this is a python comment

Hello World.

Python Variable

In [19]:
x=1
a,b=0,-1
a,b,c=0,-1,2
d="String example."
print(a,b,c,d)

0 -1 2 String example.

Casting

In [21]:
b = "Sally"
b = int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() function

In [22]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Double Quotes or Single Quotes

In [23]:
y="John"
print(y)

John

Case Sensitive

In [26]:
a=int(4)
A="Sally"
print(A, "is already", a)

Sally is already 4

Multiple Variables

In [27]:
x,y,z="one","two","three"
print(x,y,z)

one two three

One Value to Multiple Variables

In [28]:
x=y=z="four"
print(x,y,z)

four four four

Output Variables

In [32]:
x="enjoying"
print("Python programming is " + x)

Python programming is enjoying

Other way:

In [34]:
x="Python programming is "
y="enjoying"
z=x+y
print(z)

Python programming is enjoying

Arithmetic Operations

In [48]:
x=5
y=3
print(x+y)#Addition

x=5
y=3
sum=x+y
print(sum)

print(x-y)#Subtraction
print(x*y)#Multiplication
print(x/y)#Division
print(x//y)#Floor Division
print(x%y)#Modulus
print(x**y)#Exponentation

8
8
2
15
1.6666666666666667
1
2
125

Assignment Operators

In [49]:
a,b,c=0,-1,6
c%=3
x+=3
print(c,x)

0 8

Comparison Operators and Logical Operators

In [54]:
a,b,c=0,-1,6
print(a>b and c>b)#true
print(a>b or c>b)#true
print(a!=b and a<b)#false

True
True
False

Identity Operators

In [42]:
a,b,c=(0,-1,5)
a is c
False

False

Bitwise Operators

In [57]:
f = 10 | 1 # 10 + 1 in Bit Form
print(f)

11

Application 1

In [64]:
#create a Python program that displays your Fullname, Age, Course and Section

print("My name is Jastine V. De Guzman,", 21, ", taking Bachelor of Science in Computer Engineering, from Year", 3, "Block", 1, ".")

My name is Jastine V. De Guzman, 21 , taking Bachelor of Science in Computer Engineering, from Year 3 Block 1 .